/* 
--font-white: #fff;
--font-black: #000;
--alt-black: #161b22;
--background: #0d1117;
--primary-col: #3b82f6;
--secondary-col: #8b5cf6;
--tertiary-col: #22d3ee;
--success-col: #10b981;
--caution-col: #f59e0b;
--fail-col: #ef4444;
*/
#root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--alt-black);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--font-white);
  padding: 1rem;
}

.logo {
  display: flex;
  gap: 0.5rem;
  color: var(--font-white);
}

.logo h1 {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 320px;
  margin-top: 2rem;
  padding: 0 2rem;
}

.container > div {
  margin: 1rem;
}

input {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding-left: 0.2rem;
}

.sectionEditors {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Personal */
.personalInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--alt-black);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.1px solid var(--font-white);
}

.infoField {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.contactInfo {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.butnCtn {
  display: flex;
  justify-content: space-between;
}

.actionBtns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.clearBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  color: var(--font-white);
  background-color: var(--alt-black);
}

.clearBtn:hover {
  border: none;
  color: var(--fail-col);
  text-decoration: underline;
}

.fieldIcon {
  width: 32px;
  height: 32px;
}

.dispPersonal {
  background-color: var(--alt-black);
  padding: 1.5rem;
  position: relative;
  border-radius: 1rem;
  border: 0.1px solid var(--font-white);
  height: fit-content;
}

.dispPersonal .fieldIcon {
  height: 24px;
  width: 24px;
}

.dispPersonal div:nth-child(2) {
  color: var(--primary-col);
  margin-bottom: 1.25rem;
}

.dispField {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dispField:nth-child(3),
.dispField:nth-child(4),
.dispField:nth-child(5) {
  padding-bottom: 0.5rem;
}



.editBtn {
  float: right;
  position: relative;
  top: -155px;
  right: -10px;
  color: var(--primary-col);
  border: none;
}

.editBtn .fieldIcon {
  height: 24px;
  width: 24px;
}

.editBtn:hover {
  border: none;
  color: var(--secondary-col);
}

.editBtn:focus,
.editBtn:focus-visible {
  outline: none;
}

/* Education */
.edu,
.exp {
  width: 100%;
  border-radius: 1rem;
  border: 0.1px solid var(--font-white);
  background-color: var(--alt-black);
  transition: 400ms ease-in;
  display: flex;
  flex-direction: column;
}

.edu.visible,
.exp.visible {
  background-color: var(--background);
  transition: 400ms ease-in;
}

.edu > button,
.exp > button {
  width: 100%;
  display: flex;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: var(--font-white);
  background-color: transparent;
}

.edu.visible > button,
.exp.visible > button {
  border-radius: 1rem 1rem 0 0;
}

.edu > button:hover
.exp > button:hover {
  border: none;
}

.edu > button:focus,
.edu > button:focus-visible,
.exp > button:focus,
.exp > button:focus-visible {
  outline: none;
}

.edu > button .fieldIcon,
.exp > button .fieldIcon {
  color: var(--primary-col);
  margin-right: 9px;
  transition: all 100ms ease-in;
}

.edu > button .fieldIcon:hover,
.exp > button .fieldIcon:hover {
  color: var(--secondary-col);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.eduListItem,
.eduListBtn,
.expListItem,
.expListBtn {
  width: 100%;
}

.eduListBtn,
.expListBtn,
.proListBtn {
  border-radius: 0;
  display: flex;
  gap: 0.3rem;
  justify-content: left;
  color: var(--font-white);
  transition: 200ms ease-in;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--font-white);
  border-bottom: 1px solid var(--font-white);
}

.proListBtn {
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 0.5rem;
}

.eduListBtn:hover,
.expListBtn:hover,
.proListBtn:hover {
  transition: 200ms ease-in;
}

.eduListSch,
.expListComp {
  font-weight: 700;
}

.eduListDeg,
.expListRole {
  font-weight: 300;
  font-style: italic;
}

.eduEdit,
.expEdit {
  padding: 1.5rem;
  background-color: var(--alt-black);
  border: 1px solid var(--font-white);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eduEdit h3,
.expEdit h3 {
  margin-bottom: 1rem;
}

.eduGroup,
.expGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.inlineEduGroup,
.inlineExpGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.eduBtnCtn,
.expBtnCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eduDelete,
.expDelete {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--font-white);
}

.eduDelete:hover,
.expDelete:hover {
  color: var(--fail-col);
  background-color: transparent;
  border: 1px solid transparent;
}

.eduActionButtons,
.expActionButtons {
  display: flex;
  gap: 1rem;
}

.eduAdd,
.expAdd {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.addBtnCtn {
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.addBtnCtn > button {
  display: flex;
  border-radius: 1rem;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-col);
  color: var(--font-black);
  transition: all 200ms ease-in-out;
}

.addBtnCtn > button:hover {
  background-color: var(--secondary-col);
  border: 1px solid var(--secondary-col);
  transition: all 200ms ease-in-out;
}

/* Preview */
.previewCtn {
  background-color: var(--alt-black);
  border: 0.1px solid var(--font-white);
  height: fit-content;
  padding: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.prevContainer {
  width: 100%;
  height: 100%;
}

.prevContainer > .logo {
  width: 100%;
  justify-content: center;
}

.prevContainer > .logo > .fieldIcon {
  color: var(--font-white);
  height: 32px;
  width: 32px;
}

.prevContainer .title {
  border-bottom: 5px solid var(--tertiary-col);
  margin-top: 2rem;
  padding-bottom: 0.25rem;
}

.prevContainer .content { 
  margin-top: 1rem;
}

.nameSec {
  margin-bottom: 1rem;
}

.nameSec .sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detSec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.detSec p,
.nameSec> .sub p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.prevEducation .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cvField {
  padding: 0.5rem 0;
}


.eduDetSec {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.eduDetSec span,
.prevProjects span {
  opacity: 0.6;
}

.prevSkills .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skillPill {
  padding: 10px 20px;
  border-radius: 2rem;
  background-color: var(--primary-col);
}

.prevContainer .fieldIcon {
  height: 24px;
  width: 24px;
  color: var(--primary-col);
}

/* @media screen and (max-width:768px) {
  
} */
